<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
layout:decorate="template1">
<head>
    <meta charset="UTF-8">
    <title>Form Medecins</title>

</head>
<body>
<div layout:fragment="content1">
    <div class="col-md-6 offset-3 mt-2 ">

        <form method="post" th:action="@{/admin/medecins/save(page=${page} , keyword=${keyword})}">
            <div >
                <label>ID</label>
                <input  class="form-control" type="text" name="id" th:value="${medecin.id}">

            </div>
            <div >
                <label>Nom</label>
                <input class="form-control" type="text" name="nom" th:value="${medecin.nom}">
                <span  class="text-danger" th:errors="${medecin.nom}"/>
            </div>

            <div >
                <label>Email </label>
                <input class="form-control" type="text" name="email" th:value="${medecin.email}">
                <span class="text-danger" th:errors="${medecin.email}"/>
            </div>
            <div >
                <label>Specialité </label>
                <input class="form-control" type="text" name="specialite" th:value="${medecin.specialite}">
                <span class="text-danger" th:errors="${medecin.specialite}"/>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </form>
    </div>




</div>
</body>
</html>