<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    >
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.0.1/css/bootstrap.min.css">
</head>
<body>
<script src="/webjars/bootstrap/5.0.1/js/bootstrap.bundle.js"></script>
<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="col-md-6 offset-3 mt-2">

            <form method="post" th:action="@{/signup/save}">


                <div >
                    <label>Username</label>
                    <input class="form-control" type="text" name="username" th:value="${username}">

                </div>
                <div >
                    <label>password</label>
                    <input class="form-control" type="text" name="password" th:value="${password}">

                </div>
                <div >
                    <label>Verify your password</label>
                    <input class="form-control" type="text" name="verifypassword" th:value="${verifypassword}">

                </div>
                <br>
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </form>




        </div>
    </div>
</section>
</body>
</html>